<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Error">

    <extensions>
        <add assembly="NLog.Layouts.GelfLayout"/>
    </extensions>

    <!-- optional, add some variables
    https://github.com/nlog/NLog/wiki/Configuration-file#variables
    -->
    <variable name="assemblyName" value="svs.aclkm.accounting.service" />
    <variable name="maxArchives" value="20" />
    <variable name="defaultFileNameWithoutExtension" value="${var:assemblyName}.${level}" />
    <variable name="defaultFileName" value="${defaultFileNameWithoutExtension}.log" />
    <variable name="logDir"
              value="./log/" />
    <variable name="commonLayout"
              value="${date:format=dd.MM.yyyy HH\:mm\:ss.fff} [${level:uppercase=true}] : ${logger} : ${message} ${onexception:inner= ${exception:format=message}}" />
    <variable name="detailedLayout"
              value="${date:format=dd.MM.yyyy HH\:mm\:ss.fff} [${level:uppercase=true}] : ${logger} : ${message} ${exception:format=ToString}" />

    <variable name="gl_source_input" value="" />
    <variable name="address" value="" />

    <!--
    See https://github.com/nlog/nlog/wiki/Configuration-file
    for information on customizing logging rules and outputs.
     -->
    <targets>

        <!--
        add your targets here
        See https://github.com/nlog/NLog/wiki/Targets for possible targets.
        See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
        -->
        
        

        <target  xsi:type="Network"
                 name="GelfTcp"
                 address="${var:address}" 
                 newLine="true"
                 lineEnding="Null"
                 layout="${gelf}" >

            <!--      <layout >-->
            <!--        <attribute name="gl_source_input" layout="${gl_source_input}" />-->
            <!--      </layout>-->
            <!-- <field name="log_source" layout="${log_source}"/> -->
            <layout type="GelfLayout">
                <field name="gl_source_input" layout="${gl_source_input}" />  
            </layout>
        </target>

        <target xsi:type="Console" name="jsonConsole" >
            <layout type="JsonLayout" includeMdlc="true" includeAllProperties="true" maxRecursionLimit="2">
                <attribute name="Time" layout="${longdate}" />
                <attribute name="Level" layout="${level}" />
                <attribute name="LoggerName" layout="${logger}" />
                <attribute name="MessageTemplate" layout="${message:raw=true}" escapeUnicode="false" />
                <attribute name="Message" layout="${message}" escapeUnicode="false" />
                <attribute name="Exception" layout="${exception:format=@}" escapeUnicode="false" encode="false" escapeForwardSlash="false" />
            </layout>
        </target>

        <target
                name="file"
                xsi:type="File"
                fileName="${logDir}${defaultFileName}"
                layout="${detailedLayout}"
                encoding="utf-8"
                maxArchiveFiles="${maxArchives}"
                archiveAboveSize="10485760"
                archiveFileName="${logDir}${defaultArchiveName}"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd"
                enableArchiveFileCompression="true"/>

        <!--
        Write events to a file with the date in the filename.
        <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
                layout="${longdate} ${uppercase:${level}} ${message}" />
        -->
    </targets>

    <rules>
        <!-- add your logging rules here -->

        <!-- Данное правило пишет все сообщения с минимальным уровнем Debug в целевой лог filedata -->
        <logger name="*" minlevel="Trace" writeTo="file" />
        <logger name="*" minlevel="Trace" writeTo="jsonConsole" />
        <logger name="*" minlevel="Trace" writeTo="GelfTcp" />
        <!--
        Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
        <logger name="*" minlevel="Debug" writeTo="f" />
        -->
    </rules>
</nlog>